.button {
  padding: 14px 24px;
  border-radius: 8px;

  color: var(--White, #fff);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;

  &__nextPage {
    background: var(--Denim, #022959);
  }

  &__backPage {
    background-color: transparent;
    color: var(--Grey, #9699aa);
  }
}

@media (max-width: 576px) {
  .button {
    margin-top: 0;
  }
}
