.multiStepForm {
  display: grid;
  grid-template-columns: 30% 50%;
  column-gap: 100px;
  padding: 16px;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 625px;
  max-height: 625px;
}

@media (max-width: 992px) {
  //769

  .multiStepForm {
    display: grid;
    grid-template-columns: 37% 50%;
    column-gap: 50px;
  }
}

@media (max-width: 768px) {
  //577
  .multiStepForm {
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 20px;
  }
}

@media (max-width: 576px) {
  .multiStepForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% auto 10%;
    padding: 0;
    background-color: #eff5ff;
    border-radius: 15px;
    box-sizing: border-box;
    height: 100vh;
    margin-bottom: 100px;
  }
  .formsContainer {
    border-radius: 10px;
    padding: 32px 24px;
    margin: 0 16px;
    position: relative;
    height: fit-content;
    top: -4%;
    background-color: #fff;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);
  }
}
