.yourInfo {
  padding-top: 40px;
}

.title {
  margin: 0;
  color: var(--Denim, #022959);
  font-feature-settings: "liga" off, "clig" off;

  /* Heading */
  font-family: Ubuntu;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subTitle {
  margin: 0;
  padding-top: 11px;
  color: var(--Grey, #9699aa);
  font-feature-settings: "liga" off, "clig" off;

  /* Body (L) */
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.inputsContainer {
  margin-top: 35px;
}

.emailInputContainer {
  margin-top: 24px;
}
.phoneInputContainer {
  margin-top: 24px;
}

.inputLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputLabel {
  color: var(--Denim, #022959);
  font-feature-settings: "liga" off, "clig" off;

  /* Body (M) */
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.validationTextError {
  margin: 0;
  color: var(--Red-Errors, #ee374a);
  text-align: right;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input {
  box-sizing: border-box;

  width: 100%;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid var(--Purple, #483eff);
  outline: none;

  margin-top: 8px;
  color: var(--Denim, #022959);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;

  &__error {
    border: 1px solid var(--Red-Errors, #ee374a);
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

@media (max-width: 576px) {
  .stepsBarContainer {
    background-color: inherit;
  }
  .yourInfo {
    padding: 0;
  }
  .buttonContainer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);
  }
}
